{% extends 'user/base.html' %}

{% block title %} {% endblock %}

{% block content %}



{% if otp %}
    <form action="" method="post">
        {% csrf_token %}
        Enter_Your_Register_Email:<input type="mail" name="mail"  /> 
        <input type="submit" value="Verify OTP" />
    </form> 
{% else %}

<form action="" method="post">
    {% csrf_token %}
    Enter_Your_Register_Email:<input type="mail" name="mail"  /> 
    <input type="submit" value="Send OTP" />
</form> 
{% endif %}

{% endblock %}